<a href="https://colab.research.google.com/github/oulima/Python/blob/master/KPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exo5: Visualisation d’une relation linéaire

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import files
uploaded = files.upload()

Saving resto.csv to resto.csv

In [3]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "resto.csv" with length 387646 bytes

In [0]:
import io

In [0]:

data = pd.read_csv (io.StringIO (uploaded ['resto.csv']. decode ('utf-8')))

In [10]:
data.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

In [19]:
#3_
TFData = data.head(10)
TFData

   Unnamed: 0  ...  item_price
0           0  ...      $2.39
1           1  ...      $3.39
2           2  ...      $3.39
3           3  ...      $2.39
4           4  ...     $16.98
5           5  ...     $10.98
6           6  ...      $1.69
7           7  ...     $11.75
8           8  ...      $9.25
9           9  ...      $9.25

[10 rows x 6 columns]

In [20]:
#4_
data.size

27732

In [21]:
#5_
data.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [22]:
#6_
data['quantity'] = sum(data['quantity'])
data

      Unnamed: 0  ...  item_price
0              0  ...      $2.39
1              1  ...      $3.39
2              2  ...      $3.39
3              3  ...      $2.39
4              4  ...     $16.98
...          ...  ...         ...
4617        4617  ...     $11.75
4618        4618  ...     $11.75
4619        4619  ...     $11.25
4620        4620  ...      $8.75
4621        4621  ...      $8.75

[4622 rows x 6 columns]

In [0]:
#7_

data['item_price'] = data['item_price'].str[1:]
data['item_price'] = pd.to_numeric(data['item_price'])
data

In [27]:
#8_
data['CA'] = data['chiffreAffaire'].sum()
data

      Unnamed: 0  order_id  quantity  ... item_price chiffreAffaire            CA
0              0         1      4972  ...       2.39       11883.08  1.715348e+08
1              1         1      4972  ...       3.39       16855.08  1.715348e+08
2              2         1      4972  ...       3.39       16855.08  1.715348e+08
3              3         1      4972  ...       2.39       11883.08  1.715348e+08
4              4         2      4972  ...      16.98       84424.56  1.715348e+08
...          ...       ...       ...  ...        ...            ...           ...
4617        4617      1833      4972  ...      11.75       58421.00  1.715348e+08
4618        4618      1833      4972  ...      11.75       58421.00  1.715348e+08
4619        4619      1834      4972  ...      11.25       55935.00  1.715348e+08
4620        4620      1834      4972  ...       8.75       43505.00  1.715348e+08
4621        4621      1834      4972  ...       8.75       43505.00  1.715348e+08

[4622 rows x 8 columns]

In [28]:
#9_
Rev_moyen=data['CA']/4622
Rev_moyen

0       37112.677525
1       37112.677525
2       37112.677525
3       37112.677525
4       37112.677525
            ...
4617    37112.677525
4618    37112.677525
4619    37112.677525
4620    37112.677525
4621    37112.677525
Name: CA, Length: 4622, dtype: float64